<launch>
  <param name="omni_im/topic_name" value="interactive_gripper" />
  <param name="omni_im/fixed_frame" value="/odom_combined" />
  <param name="omni_im/control_frame" value="/base_link" />
  <param name="omni_im/marker_offset" value="0.05" />
  <include file="$(find omni_im)/launch/omni_im.launch" />
</launch>
